// Footer
footer {
  .contact-info {
    margin-bottom: 17px;
    > ul {
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;
      height: 30px;

      > li {
        color: #438fcc;
        font-size: 12px;
        &:first-child {
          margin-right: 20px;
          color: #FFF;
        }
      }
    }
  }

  .links {
    margin-top: 17px;
    display: flex;

    @include footerLinks(12px);
    ul {
      margin: 0 0 0 8px;
      padding-left: 0;
      list-style: none;
      flex-grow: 1;

      &:first-child {
        margin: 0;
      }
    }
  }
  .footer-sort {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid $bg-primary;
    margin-bottom: 5px;
    > a {
      margin-bottom: 5px;
      text-decoration: none;
      text-transform: uppercase;
      color: #868686;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .bottom-links {
    background-color: #e1e1e1;
    height: 38px;
    padding-top: 5px;
    > ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      > li > a {
        padding: 5px;
        text-decoration: none;
        color: #868686;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}
