.gallery-container {
  min-height: 150px;

  > .header > nav {
    display: flex;
    align-items: flex-start;
    border-bottom: 5px solid #b760a9;
    height: 19px;
  }
  > .content {
    display: flex;
    margin-top: 14px;
  }
}

