// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

//
header, main, footer {
  width: 950px;
  margin: auto;
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;

  &.noSidePadding {
    padding-left: 0;
    padding-right: 0;
  }

  > .columns {
    width: 100%;
    &.half {
      width: 50%;
    }
  }

  // Colors
  .bg-primary {
    background-color: $bg-primary;
  }
}

.page-header {
  > h1 {
    margin: 0 0 22px;
  }
}