<div class="row">
    <div class="columns">
        <div class="gallery-container">
            <div class="header">
                <nav>
                    <ul class="gallery-tabs">
                        <li><a href="#"><span>Senaste Bilderna</span></a></li>
                        <li><a href="#"><span>Flest hjärtan</span></a></li>
                        <li><a href="#"><span>Mest visade</span></a></li>
                    </ul>
                    <a href="#">Lägg till din bild</a>
                </nav>
            </div>
        </div>
    </div>
</div>