{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arbetsprov</title>
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "normalize-css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
<header>
    <div class="row">
        <div class="logo">
            <img src="{% static 'img/a__0063_agria-logotyp.png' %}" alt="">
        </div>
    </div>
</header>
<main ng-app="app">
    {% block main %} {% endblock %}
</main>
<footer>
    <div class="row noSidePadding">
        <div class="columns">
            <div class="contact-info bg-primary">
                <ul>
                    <li>Agria Djurförsäkring</li>
                    <li>Box 70308 - 107 23 Stockholm - Besöksadress: Tegeluddsvägen 11-13 - Tel: 020-88 88 88 - Fax: 08-588 421 80 - Öppettider 08.00-20.00</li>
                </ul>
            </div>
        </div>
        <div class="columns">
            <div class="links">
                <ul>
                    <li>Kontakta oss</li>
                    <li><a href="#">Chatta med kundcenter</a></li>
                    <li><a href="#">Ditt närmsta ombud</a></li>
                    <li><a href="#">Vi ringer upp dig</a></li>
                    <li><a href="#">Fråga KC</a></li>
                    <li><a href="#">Tyck till om oss</a></li>
                </ul>
                <ul>
                    <li>Jobba på Agria</li>
                    <li><a href="#">Lediga tjänster</a></li>
                    <li><a href="#">Arbetsmiljö</a></li>
                    <li><a href="#">Agrias hundkontor</a></li>
                </ul>
                <ul>
                    <li>Press</li>
                    <li><a href="#">Presskontakt</a></li>
                    <li><a href="#">Pressmeddelanden</a></li>
                    <li><a href="#">Pressbilder</a></li>
                </ul>
                <ul>
                    <li>Statestik</li>
                    <li>Agria Breed Profiles</li>
                    <li>Skadestatestik</li>
                </ul>
                <ul>
                    <li>Vetrinär</li>
                    <li><a href="#">Agrias vetrinär</a></li>
                    <li><a href="#">Telefonvetrinären</a></li>
                    <li><a href="#">Forskningsfonden</a></li>
                </ul>
                <ul>
                    <li>Stipendier</li>
                    <li><a href="#">Djurens Hjälte</a></li>
                    <li><a href="#">Agria Ponnyryttare</a></li>
                    <li><a href="#">Agria Juniorryttare</a></li>
                    <li><a href="#">Agria Young Rider</a></li>
                </ul>
                <ul>
                    <li>Betalning</li>
                    <li><a href="#">Betalningsinfo</a></li>
                    <li><a href="#">Ansök om autogiro</a></li>
                </ul>
                <ul>
                    <li>Följ Agria</li>
                    <li><a href="#">Nyhetsbrev</a></li>
                    <li><a href="#">Bloggar</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
                <ul>
                    <li>Barnhörnan</li>
                    <li><a href="#">Spel</a></li>
                    <li><a href="#">Pussel</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </div>
        </div>
        <div class="columns">
            <div class="footer-sort">
                <a href="#">Agria A-Ö <i class="fa fa-caret-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="columns">
            <div class="bottom-links">
                <ul>
                    <li><a href="#">Om Agria</a></li>
                    <li><a href="#">Agria International</a></li>
                    <li><a href="#">Sammarbetspartner</a></li>
                    <li><a href="#">Kontakta oss</a></li>
                    <li><a href="#">Cookies & PUL</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
<script type="text/javascript" src='{% static 'angular/angular.min.js' %}'></script>
<script type="text/javascript" src='{% static 'angular-route/angular-route.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/app.js' %}'></script>
</body>
</html>