.btn-add {
  padding: 9px 19px;
  background-color: #b760a9;
  display: block;
  position: relative;
  bottom: 28px;
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
};