.gallery-container > .content {
  display: flex;
  > .main {
    width: 950px;
    overflow: hidden;
  }
  > .main > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      display: flex;
      justify-content: center;
      flex-flow: wrap;
      transform-origin: right;
      transition: .5s cubic-bezier(0, 0, 0.08, 0.89);
      > .item {
        display: block;
        margin-right: 6px;
        margin-bottom: 0;
        width: 120px;

        &:nth-child(-n+20) {
          margin-bottom: 8px;

        }
      }
    }
  }
}