.search {
  > .search-title {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;

    h1, h2 {
      display: block;
      color: #b760a9;
      margin: 20px 0 0;
    }
    h1 {
      font-size: 18px;
      font-weight: normal;
      margin-right: 17px;

    }
    h2 {
      font-size: 14px;
      font-weight: normal;
    }
  }
}