.gallery-container > .content .prevSlide button,
.gallery-container > .content .nextSlide button {
  width: 23px;
  height: 100%;
  color: #b760a9;
  background-color: #e1e1e1;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  > ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;

    > li {
      &:nth-child(2) {
        margin-right: 5px;
        margin-left: 5px;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        padding-top: 5px;
      }
      > a {
        padding: 3px;
        color: #CCC;
        border: 1px solid #CCC;
      }
    }
  }
}