.gallery-tabs {
  list-style: none;
  padding: 0;
  display: flex;
  width: 25%;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
  > li.active {
    margin-right: 3px;
    > a {
      padding: 10px 19px 3px 8px;
      color: #FFF;
      background-color: #b760a9;
      text-decoration: none;
      overflow: hidden;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  > li {
    margin-right: 3px;
    > a {
      padding: 10px 19px 3px 8px;
      font-weight: bold;
      color: #FFF;
      background-color: #b9b8b8;
      text-decoration: none;
      overflow: hidden;
      text-transform: uppercase;
    }
  }
}
