.tags {
  display: flex;
  .tags-title {
    margin-right: 15px;
  }

  .tags-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 513px;
    > li {
      display: inline-block;
      > a {
        display: block;
        color: #b760a9;
        padding: 3px;
        font-size: 12px;
      }
    }
  }
}