{% extends 'base/base.html' %}



{% block main %}
    <div class="row noSidePadding">
        <div class="page-header">
            <h1>Agria bildgalleri</h1>
        </div>
    </div>

    <div class="row noSidePadding">
        <div class="columns">
            <div class="gallery-container">
                <div class="header">
                    <nav>
                        <ul class="gallery-tabs">
                            <li class="active"><a href="#"><span>Senaste Bilderna</span></a></li>
                            <li><a href="#"><span>Flest hjärtan</span></a></li>
                            <li><a href="#"><span>Mest visade</span></a></li>
                        </ul>
                        <a href="#" class=btn-add><i class="fa fa-plus" aria-hidden="true"></i> Lägg till din bild</a>
                    </nav>
                </div>
                <div class="content">
                    <div class="prevSlide">
                        <button><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                    </div>
                    <div class="main">
                        <ul id="slider">
                            {% for i in imageList %}
                                <li>
                                    {% for item in i %}
                                        <div class="item">
                                            <img data-name="{{ item.title }}"
                                                 src="https://it-amigo.s3.amazonaws.com/media/{{ item.image }}"
                                                 alt="{{ item.title }}">
                                        </div>
                                    {% endfor %}
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                    <div class="nextSlide">
                        <button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns half">
            <div class="search">
                <div class="search-title">
                    <h1>SÖK BILDER</h1>
                    <h2>Nu {{ imageListLength }} bilder</h2>
                </div>
            </div>
        </div>
        <div class="columns half">
            <div class="pagination">
                <ul>
                    <li><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                    <li>Sida 1 av 2</li>
                    <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <div class="filters">
                <select name="animal-type" id="animal-type">
                    <option disabled selected>Välj djurslag</option>
                </select>
                <select name="animal-race" id="animal-race">
                    <option disabled selected>Välj ras (antal)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns tags">
            <div class="tags-title">
                Taggar:
            </div>
            <ul class="tags-list">
                <li><a href="#">Utställning (234)</a></li>
                <li><a href="#">Valpar (456)</a></li>
                <li><a href="#">Lek (423)</a></li>
                <li><a href="#">Tik (2300)</a></li>
                <li><a href="#">Hane (245)</a></li>
                <li><a href="#">Sommar (456)</a></li>
                <li><a href="#">Vinter (423)</a></li>
                <li><a href="#">Bad (2300)</a></li>
            </ul>
        </div>
    </div>



{% endblock %}

