@mixin globalFont($font) {
  font-family: $font;
}

@mixin footerLinks($headlineSize) {
  font-size: $headlineSize;
  font-family: $font-primary;
  color: $footer-links-color;
  > ul > li {
    &:first-child {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    > a {
      display: block;
      font-weight: normal;
      text-decoration: none;
      color: $footer-links-color;
      margin-top: 3px;
    }
  }
}