/* FONTS
============================================= */
$font-primary: Arial;


/* COLORS
============================================= */
$bg-primary: #0059a1;

  // Footer Links
  $footer-links-color: #868686;
